  <!-- Footer -->
  <footer class="site-footer">
    <div class="container">
      <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p>Copyright &copy; 2016. All right reserved</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="footer-menu">
            <li><a href="page_changelog.html">Changelog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- END Footer -->

  <!-- Scripts -->
  <!-- <script src="assets/js/theDocs.all.min.js"></script>
  <script src="assets/js/theDocs.js"></script> -->
  <script src="assets/docs.bundle.js"></script>
  <script src="assets/theme.bundle.js"></script>
  </body>
</html>